:root {
  --hover-color: #404bbf;
  --main-brandcolor: #2e2f42;
  --main-backgroundcolor: #f4f4fd;
  --logo-buttonscolor: #4d5ae5;
  --main-white: #ffffff;
  --main-textcolor: #434455;
}

/**
  |============================
  | Global 
  |============================
*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: auto 0;
  width: 1158px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-white);
  color: var(--main-textcolor);
}

/**
  |============================
  Header
  |============================
*/

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-buttonscolor);
  padding: 24px 0;
}

.header {
  background-color: var(--main-white);
  border-bottom: 1px solid #e7e9fc;
}

.header-top {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  width: 261px;
}

.logo-studio {
  color: var(--main-brandcolor);
}

.list .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-brandcolor);
  padding: 24px 0;
}
.list .nav-link:hover,
.list .nav-link:focus {
  color: var(--hover-color);
}
.list .nav-link:active {
  color: var(--hover-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts .list {
  display: flex;
  gap: 40px;
}

.list .contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-textcolor);
}
.list .contacts-link:hover,
.list .contacts-link:focus {
  color: var(--hover-color);
}

/**
  |============================
  Hero section
  |============================
*/

.main-hero {
  background-color: var(--main-brandcolor);
}

.main-slogan {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-white);
}

.order-button {
  font-family: "Roboto", sans-serif;
  background: var(--logo-buttonscolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-white);
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background: var(--hover-color);
}

/**
  |============================
  | Benefits section
  |============================
*/

.list .advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-brandcolor);
}

.list .advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Examples section
  |============================
*/

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-brandcolor);
}

/**
  |============================
  | About-team section
  |============================
*/

.about-team {
  background-color: var(--main-backgroundcolor);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-brandcolor);
}

.team-members {
  background-color: var(--main-white);
}

.list .members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-brandcolor);
}

.list .members-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Footer
  |============================
*/

.footer-area {
  background-color: var(--main-brandcolor);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-backgroundcolor);
}

.logo-studio-footer {
  color: var(--main-backgroundcolor);
}

/**
  |============================
  | Gallery portfolio
  |============================
*/

.list .button-item {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--main-backgroundcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-buttonscolor);
}

.list .button-item:hover,
.list .button-item:focus {
  background-color: var(--hover-color);
  color: var(--main-white);
}

.list .gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-brandcolor);
}
.list .gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-textcolor);
}
